{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if not sonata_admin.field_description.hasassociationadmin %}
    {% for element in value %}
        {{ element|render_relation_element(sonata_admin.field_description) }}
    {% endfor %}
{% else %}

    {% set sortable = sonata_admin.field_description.isSortable %}
    {% set sortable_property = sortable ? sonata_admin.field_description.options.sortable : '' %}

    <div id="field_container_{{ id }}" class="field-container">
        <div id="field_widget_{{ id }}">
            {% if sonata_admin.edit == 'inline' %}
                {% if sonata_admin.inline == 'table' and form.children|length > 0 %}
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    {% for field_name, nested_field in form.children|first.children %}
                                        {% if field_name == '_delete' %}
                                            <th>{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}</th>
                                        {% else %}
                                            <th class="{{ classlist({
                                                required: nested_field.vars['required'],
                                                hidden: nested_field.vars['attr']['hidden']|default(false)
                                            }) }}">
                                                {{ nested_field.vars['sonata_admin'].admin.trans(
                                                    nested_field.vars.label,
                                                    {},
                                                    nested_field.vars.translation_domain
                                                ) }}
                                            </th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody class="{{ classlist('sonata-ba-tbody', {'sonata-ba-sortable': sortable}) }}">
                                {% for nested_group_field_name, nested_group_field in form.children %}
                                    <tr>
                                        {% for field_name, nested_field in nested_group_field.children %}
                                            {% set _has_error = nested_field.vars.errors|length > 0 %}
                                            <td class="{{ classlist(
                                                "sonata-ba-td-#{id}-#{field_name}",
                                                'form-group',
                                                {
                                                    'has-error': _has_error,
                                                    'sonata-ba-field-error': _has_error,
                                                    'sonata-ba-sortable-handler': field_name == sortable_property,
                                                    'sonata-ba-sortable-position': field_name == sortable_property,
                                                    hidden: nested_field.vars['attr']['hidden']|default(false)
                                                }
                                            ) }}">
                                                {% if sonata_admin.field_description.associationadmin.formfielddescriptions[field_name] is defined %}
                                                    {{ form_widget(nested_field) }}
                                                    {% do nested_group_field.setRendered %}
                                                {% else %}
                                                    {% if field_name == '_delete' %}
                                                        {{ form_widget(nested_field, {'label_render': false}) }}
                                                    {% else %}
                                                        {{ form_widget(nested_field) }}
                                                    {% endif %}
                                                {% endif %}
                                                {% if _has_error %}
                                                    <div class="help-block sonata-ba-field-error-messages">
                                                        {{ form_errors(nested_field) }}
                                                    </div>
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% elseif form.children|length > 0 %}
                    {% set associationAdmin = sonata_admin.field_description.associationadmin %}

                    <div class="{{ classlist('sonata-ba-tabs', {'sonata-ba-sortable': sortable}) }}">
                        {% for nested_group_field in form.children %}
                            <div>
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs">
                                        {% for name, form_group in associationAdmin.formgroups %}
                                            <li class="{{ classlist({active: loop.first}) }}">
                                                <a href="#{{ associationAdmin.uniqid }}_{{ loop.parent.loop.index }}_{{ loop.index }}"
                                                   data-toggle="tab"
                                                >
                                                    <i class="fa fa-exclamation-circle">&nbsp;</i>
                                                    {{ associationAdmin.trans(name, {}, form_group.translation_domain) }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                        {% if sortable %}
                                            <li class="sonata-ba-sortable-handler pull-right"></li>
                                        {% endif %}
                                    </ul>

                                    <div class="tab-content">
                                        {% for name, form_group in associationAdmin.formgroups %}
                                            <div class="{{ classlist(
                                                'tab-pane', 'fade',
                                                {active: loop.first, 'in': loop.first}
                                            ) }}"
                                                 id="{{ associationAdmin.uniqid }}_{{ loop.parent.loop.index }}_{{ loop.index }}"
                                            >
                                                <fieldset>
                                                    <div class="sonata-ba-collapsed-fields">
                                                        {% for field_name in form_group.fields %}
                                                            {% set nested_field = nested_group_field.children[field_name] %}
                                                            <div class="{{ classlist(
                                                                "sonata-ba-field-#{id}-#{field_name}",
                                                                {
                                                                    'sonata-ba-sortable-position': field_name == sortable_property
                                                                }
                                                            ) }}">
                                                                {% if associationAdmin.formfielddescriptions[field_name] is defined %}
                                                                    {{ form_row(nested_field, {
                                                                        inline: 'natural',
                                                                        edit: 'inline'
                                                                    }) }}
                                                                    {% do nested_group_field.setrendered %}
                                                                {% else %}
                                                                    {{ form_row(nested_field) }}
                                                                {% endif %}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </fieldset>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                {% if nested_group_field['_delete'] is defined %}
                                    {{ form_row(nested_group_field['_delete']) }}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% else %}
                {{ form_widget(form) }}
            {% endif %}
        </div>

        {% set json_field_description = sonata_field_description_json()|raw %}

        {% if sonata_admin.edit == 'inline' %}

            {% if (
                sonata_admin.field_description.associationadmin.hasroute('create')
                and sonata_admin.field_description.associationadmin.isGranted('CREATE')
                and btn_add
            ) %}
                <span id="field_actions_{{ id }}">
                    <a href="{{ sonata_admin.field_description.associationadmin.generateUrl(
                        'create',
                        sonata_admin.field_description.getOption('link_parameters', {})
                    ) }}"
                        class="btn btn-success btn-sm sonata-ba-action"
                        data-field-action="append-form-element"
                        data-field-description="{{ json_field_description }}"
                        title="{{ btn_add|trans({}, btn_catalogue) }}"
                    >
                        <i class="fa fa-plus-circle"></i>
                        <span>{{ btn_add|trans({}, btn_catalogue) }}</span>
                    </a>
                </span>
            {% endif %}

        {% else %}

            <span id="field_actions_{{ id }}">
                {% if (
                    sonata_admin.field_description.associationadmin.hasroute('create')
                    and sonata_admin.field_description.associationadmin.isGranted('CREATE')
                    and btn_add
                ) %}
                    <a href="{{ sonata_admin.field_description.associationadmin.generateUrl(
                        'create',
                        sonata_admin.field_description.getOption('link_parameters', {})
                    ) }}"
                        class="btn btn-success btn-sm sonata-ba-action"
                        data-field-action="create-association"
                        data-field-description="{{ json_field_description }}"
                        title="{{ btn_add|trans({}, btn_catalogue) }}"
                    >
                        <i class="fa fa-plus-circle"></i>
                        <span>{{ btn_add|trans({}, btn_catalogue) }}</span>
                    </a>
                {% endif %}
            </span>

        {% endif %}
    </div>
{% endif %}
