{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% if sonata_admin.field_description.hasassociationadmin %}
    <div id="field_container_{{ id }}" class="field-container">
        <span id="field_widget_{{ id }}" >
            {% if sonata_admin.edit == 'inline' %}
                {% if sonata_admin.inline == 'table' %}
                    {% if form.children|length > 0 %}
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    {% for field_name, nested_field in form.children[0].children %}
                                        {% if field_name == '_delete' %}
                                            <th>{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}</th>
                                        {% else %}
                                            <th {{ nested_field.vars['required']  ? 'class="required"' : '' }}>
                                                {{ nested_field.vars['sonata_admin'].admin.trans(nested_field.vars.label) }}
                                            </th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody class="sonata-ba-tbody">
                                {% for nested_group_field_name, nested_group_field in form.children %}
                                    <tr>
                                        {% for field_name, nested_field in nested_group_field.children %}
                                            <td class="sonata-ba-td-{{ id }}-{{ field_name  }} control-group{% if nested_field.vars.errors|length > 0 %} error{% endif %}">
                                                {% if sonata_admin.field_description.associationadmin.hasformfielddescriptions(field_name) is defined %}
                                                    {{ form_widget(nested_field) }}

                                                    {% set dummy = nested_group_field.setrendered %}
                                                {% else %}
                                                    {{ form_widget(nested_field) }}
                                                {% endif %}
                                                {% if nested_field.vars.errors|length > 0 %}
                                                    <div class="help-inline sonata-ba-field-error-messages">
                                                        {{ form_errors(nested_field) }}
                                                    </div>
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% elseif form.children|length > 0 %}
                    <div>
                        {% for nested_group_field_name, nested_group_field in form.children %}
                            {% for field_name, nested_field in nested_group_field.children %}
                                {% if sonata_admin.field_description.associationadmin.hasformfielddescriptions(field_name) is defined %}
                                    {{ form_row(nested_field, {
                                        'inline': 'natural',
                                        'edit'  : 'inline'
                                    }) }}
                                    {% set dummy = nested_group_field.setrendered %}
                                {% else %}
                                    {% if nested_field.vars.name == '_delete' %}
                                        {{ form_row(nested_field, { 'label': ('action_delete'|trans({}, 'SonataAdminBundle')) }) }}
                                    {% else %}
                                        {{ form_row(nested_field) }}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% else %}
                {{ form_widget(form) }}
            {% endif %}

        </span>

        {% if sonata_admin.edit == 'inline' %}

            {% set json_field_description = {
                id: id,
                formType: sonata_admin.field_description.type,
                editMode: sonata_admin.edit,
                label: sonata_admin.field_description.associationadmin.label|trans({}, sonata_admin.field_description.associationadmin.translationdomain),
                routes: {
                    appendFormElement: path('sonata_admin_append_form_element', {
                        code: sonata_admin.admin.root.code,
                        elementId: id,
                        objectId: sonata_admin.admin.root.id(sonata_admin.admin.root.subject),
                        uniqid: sonata_admin.admin.root.uniqid,
                        subclass: app.request.query.get('subclass'),
                    } + sonata_admin.field_description.getOption('link_parameters', {}))
                }
            }|json_encode %}

            {% if sonata_admin.field_description.associationadmin.hasroute('create') and sonata_admin.field_description.associationadmin.isGranted('CREATE') and btn_add %}
                <span id="field_actions_{{ id }}" >
                    <a
                        href="{{ sonata_admin.field_description.associationadmin.generateUrl('create', sonata_admin.field_description.getOption('link_parameters', {})) }}"
                        class="btn btn-success btn-sm sonata-ba-action"
                        data-field-action="append-form-element"
                        data-field-description="{{ json_field_description }}"
                        title="{{ btn_add|trans({}, btn_catalogue) }}"
                    >
                        <i class="fa fa-plus-circle"></i>
                        {{ btn_add|trans({}, btn_catalogue) }}
                    </a>
                </span>
            {% endif %}

        {% else %}
            {% set field_description = sonata_admin.field_description %}
            {% set associationadmin = field_description.associationadmin %}
            {# prepare the JSON data for the action buttons #}
            {% set json_field_description = {
                id: id,
                formType: field_description.type,
                editMode: sonata_admin.edit,
                label: associationadmin.label|trans({}, associationadmin.translationdomain),
                routes: {
                    shortObjectDescription: path('sonata_admin_short_object_information', {
                        objectId: 'OBJECT_ID',
                        uniqid: associationadmin.uniqid,
                        code: associationadmin.code,
                        linkParameters: field_description.options.link_parameters
                    }),
                    retrieveFormElement: path('sonata_admin_retrieve_form_element', {
                        elementId: id,
                        subclass: sonata_admin.admin.getActiveSubclassCode(),
                        objectId: sonata_admin.admin.root.id(sonata_admin.admin.root.subject),
                        uniqid: sonata_admin.admin.root.uniqid,
                        code: sonata_admin.admin.root.code
                    })
                }
            }|json_encode %}

            <div id="field_container_{{ id }}" class="field-container">
                <span id="field_widget_{{ id }}" >
                    {{ form_widget(form) }}
                </span>

                <span id="field_actions_{{ id }}" class="field-actions">
                    {% if sonata_admin.field_description.associationadmin.hasRoute('create') and sonata_admin.field_description.associationadmin.isGranted('CREATE') and btn_add %}
                        <a
                            href="{{ sonata_admin.field_description.associationadmin.generateUrl('create', sonata_admin.field_description.getOption('link_parameters', {})) }}"
                            class="btn btn-success btn-sm sonata-ba-action"
                            data-field-action="create-association"
                            data-field-description="{{ json_field_description }}"
                            title="{{ btn_add|trans({}, btn_catalogue) }}"
                        >
                            <i class="fa fa-plus-circle"></i>
                            {{ btn_add|trans({}, btn_catalogue) }}
                        </a>
                    {% endif %}
                </span>

            </div>

        {% endif %}
    </div>
{% endif %}
