{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{%- macro classList(classes) -%}
    {%- for class, active in classes -%}
        {{ active ? class : '' }}{{ loop.last ? '' : ' ' }}
    {%- endfor -%}
{%- endmacro -%}
{% from _self import classList %}


{% if not sonata_admin.field_description.hasassociationadmin %}
    {% for element in value %}
        {{ element|render_relation_element(sonata_admin.field_description) }}
    {% endfor %}
{% else %}

    {% set sortable = sonata_admin.field_description.isSortable %}
    {% set sortable_property = sortable ? sonata_admin.field_description.options.sortable : '' %}

    <div id="field_container_{{ id }}" class="field-container">
        <span id="field_widget_{{ id }}" >
            {% if sonata_admin.edit == 'inline' %}
                {% if sonata_admin.inline == 'table' %}
                    {% if form.children|length > 0 %}
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    {% for field_name, nested_field in form.children|first.children %}
                                        {% if field_name == '_delete' %}
                                            <th>{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}</th>
                                        {% else %}
                                            <th {{ nested_field.vars['required']  ? 'class="required"' : '' }}{% if (nested_field.vars['attr']['hidden'] is defined) and (nested_field.vars['attr']['hidden']) %} style="display:none;"{% endif %}>
                                                {{ nested_field.vars['sonata_admin'].admin.trans(nested_field.vars.label, {}, nested_field.vars.translation_domain) }}
                                            </th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody class="{{ classList({'sonata-ba-tbody': true, 'sonata-ba-sortable': sortable}) }}">
                                {% for nested_group_field_name, nested_group_field in form.children %}
                                    <tr>
                                        {% for field_name, nested_field in nested_group_field.children %}
                                            <td class="sonata-ba-td-{{id}}-{{field_name}} {{ classList({
                                                'control-group': true,
                                                'error': nested_field.vars.errors|length > 0,
                                                'sonata-ba-sortable-handler sonata-ba-sortable-position': field_name == sortable_property
                                            }) }}"
                                                {% if (nested_field.vars['attr']['hidden'] is defined) and (nested_field.vars['attr']['hidden']) %}style="display:none;"{% endif %}
                                            >
                                                {% if sonata_admin.field_description.associationadmin.formfielddescriptions[field_name] is defined %}
                                                    {{ form_widget(nested_field) }}

                                                    {% set dummy = nested_group_field.setrendered %}
                                                {% else %}
                                                    {% if field_name == '_delete' %}
                                                        {{ form_widget(nested_field, {'label_render': false}) }}
                                                    {% else %}
                                                        {{ form_widget(nested_field) }}
                                                    {% endif %}
                                                {% endif %}
                                                {% if nested_field.vars.errors|length > 0 %}
                                                    <div class="help-inline sonata-ba-field-error-messages">
                                                        {{ form_errors(nested_field) }}
                                                    </div>
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% elseif form.children|length > 0 %}
                    {% set associationAdmin = sonata_admin.field_description.associationadmin %}

                    <div class="{{ classList({'sonata-ba-tabs': true, 'sonata-ba-sortable': sortable}) }}">
                        {% for nested_group_field in form.children %}
                            <div>
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs">
                                        {% for name, form_group in associationAdmin.formgroups %}
                                            <li class="{% if loop.first %}active{% endif %}">
                                                <a href="#{{ associationAdmin.uniqid }}_{{ loop.parent.loop.index }}_{{ loop.index }}" data-toggle="tab">
                                                    <i class="icon-exclamation-sign has-errors hide"></i>
                                                    {{ associationAdmin.trans(name, {}, form_group.translation_domain) }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                        {% if sortable %}
                                            <li class="sonata-ba-sortable-handler pull-right"></li>
                                        {% endif %}
                                    </ul>

                                    <div class="tab-content">
                                        {% for name, form_group in associationAdmin.formgroups %}
                                            <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{ associationAdmin.uniqid }}_{{ loop.parent.loop.index }}_{{ loop.index }}">
                                                <fieldset>
                                                    <div class="sonata-ba-collapsed-fields">
                                                        {% for field_name in form_group.fields %}
                                                            {% set nested_field = nested_group_field.children[field_name] %}
                                                            <div class="sonata-ba-field-{{id}}-{{field_name}} {{ classList({
                                                                'sonata-ba-sortable-position': field_name == sortable_property
                                                            }) }}">
                                                                {% if associationAdmin.formfielddescriptions[field_name] is defined %}
                                                                    {{ form_row(nested_field, {
                                                                        'inline': 'natural',
                                                                        'edit'  : 'inline'
                                                                    }) }}
                                                                    {% set dummy = nested_group_field.setrendered %}
                                                                {% else %}
                                                                    {{ form_row(nested_field) }}
                                                                {% endif %}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </fieldset>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                {% if nested_group_field['_delete'] is defined %}
                                    {{ form_row(nested_group_field['_delete']) }}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% else %}
                {{ form_widget(form) }}
            {% endif %}

        </span>

        {% if sonata_admin.edit == 'inline' %}

            {% if sonata_admin.field_description.associationadmin.hasroute('create') and sonata_admin.field_description.associationadmin.isGranted('CREATE') and btn_add %}
                {% set json_field_description = {
                    id: id,
                    formType: sonata_admin.field_description.type,
                    editMode: sonata_admin.edit,
                    label: sonata_admin.field_description.associationadmin.label|trans({}, sonata_admin.field_description.associationadmin.translationdomain),
                    routes: {
                        appendFormElement: path('sonata_admin_append_form_element', {
                            code: sonata_admin.admin.root.code,
                            elementId: id,
                            objectId: sonata_admin.admin.root.id(sonata_admin.admin.root.subject),
                            uniqid: sonata_admin.admin.root.uniqid,
                            subclass: app.request.query.get('subclass'),
                        } + sonata_admin.field_description.getOption('link_parameters', {}))
                    }
                }|json_encode %}

                <span id="field_actions_{{ id }}" >
                    <a
                        href="{{ sonata_admin.field_description.associationadmin.generateUrl('create', sonata_admin.field_description.getOption('link_parameters', {})) }}"
                        class="btn btn-success btn-sm sonata-ba-action"
                        data-field-action="append-form-element"
                        data-field-description="{{ json_field_description }}"
                        title="{{ btn_add|trans({}, btn_catalogue) }}"
                    >
                        <i class="fa fa-plus-circle"></i>
                        {{ btn_add|trans({}, btn_catalogue) }}
                    </a>
                </span>
            {% endif %}

        {% else %}
            {% set field_description = sonata_admin.field_description %}
            {% set associationadmin = field_description.associationadmin %}
            {# prepare the JSON data for the action buttons #}
            {% set json_field_description = {
                id: id,
                formType: field_description.type,
                editMode: sonata_admin.edit,
                label: associationadmin.label|trans({}, associationadmin.translationdomain),
                routes: {
                    shortObjectDescription: path('sonata_admin_short_object_information', {
                        objectId: 'OBJECT_ID',
                        uniqid: associationadmin.uniqid,
                        code: associationadmin.code,
                        linkParameters: field_description.options.link_parameters
                    }),
                    retrieveFormElement: path('sonata_admin_retrieve_form_element', {
                        elementId: id,
                        subclass: sonata_admin.admin.getActiveSubclassCode(),
                        objectId: sonata_admin.admin.root.id(sonata_admin.admin.root.subject),
                        uniqid: sonata_admin.admin.root.uniqid,
                        code: sonata_admin.admin.root.code
                    })
                }
            }|json_encode %}

            <span id="field_actions_{{ id }}" >
                {% if sonata_admin.field_description.associationadmin.hasroute('create') and sonata_admin.field_description.associationadmin.isGranted('CREATE') and btn_add %}
                    <a
                        href="{{ sonata_admin.field_description.associationadmin.generateUrl('create', sonata_admin.field_description.getOption('link_parameters', {})) }}"
                        class="btn btn-success btn-sm sonata-ba-action"
                        data-field-action="create-association"
                        data-field-description="{{ json_field_description }}"
                        title="{{ btn_add|trans({}, btn_catalogue) }}"
                    >
                        <i class="fa fa-plus-circle"></i>
                        {{ btn_add|trans({}, btn_catalogue) }}
                    </a>
                {% endif %}
            </span>

        {% endif %}
    </div>
{% endif %}
