{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if not sonata_admin.field_description.hasassociationadmin %}
    {{ value|render_relation_element(sonata_admin.field_description) }}
{% elseif sonata_admin.edit == 'inline' %}
    {% for field_description in sonata_admin.field_description.associationadmin.formfielddescriptions %}
        {{ form_row(form[field_description.name])}}
    {% endfor %}
{% else %}
    {# prepare the JSON data for the action buttons #}
    {% set json_field_description = sonata_field_description_json() %}

    <div id="field_container_{{ id }}" class="field-container">
        {% if sonata_admin.edit == 'list' %}
            <span id="field_widget_{{ id }}" class="field-short-description">
                {% if sonata_admin.admin.id(sonata_admin.value) %}
                    {{ render(path('sonata_admin_short_object_information', {
                        'code':     sonata_admin.field_description.associationadmin.code,
                        'objectId': sonata_admin.field_description.associationadmin.id(sonata_admin.value),
                        'uniqid':   sonata_admin.field_description.associationadmin.uniqid,
                        'linkParameters': sonata_admin.field_description.options.link_parameters
                    })) }}
                {% elseif sonata_admin.field_description.options.placeholder|default %}
                    <span class="inner-field-short-description">
                        {{ sonata_admin.field_description.options.placeholder|trans({}, 'SonataAdminBundle') }}
                    </span>
                {% endif %}
            </span>
            <span class="hidden">
                {{ form_widget(form) }}
            </span>
        {% else %}
            <span id="field_widget_{{ id }}">
                {{ form_widget(form) }}
            </span>
        {% endif %}

        <div id="field_actions_{{ id }}" class="field-actions">
            {% set display_btn_add = (
                sonata_admin.edit != 'admin'
                and sonata_admin.field_description.associationadmin.hasRoute('create')
                and sonata_admin.field_description.associationadmin.isGranted('CREATE')
                and btn_add
            ) %}
            {% set display_btn_show = (
                sonata_admin.edit != 'admin'
                and sonata_admin.field_description.associationadmin.hasRoute('show')
                and sonata_admin.field_description.associationadmin.isGranted('VIEW')
                and btn_show
            ) %}
            {% set display_btn_edit = (
                sonata_admin.edit != 'admin'
                and sonata_admin.field_description.associationadmin.hasRoute('edit')
                and sonata_admin.field_description.associationadmin.isGranted('EDIT')
                and btn_edit
            ) %}
            {# TODO: since sonata_type_model does'nt support list option anymore, shouldn't we remove these ? #}
            {% set display_btn_list = (
                sonata_admin.edit == 'list'
                and sonata_admin.field_description.associationadmin.hasRoute('list')
                and sonata_admin.field_description.associationadmin.isGranted('LIST')
                and btn_list
            ) %}
            {% set display_btn_delete = (
                sonata_admin.edit == 'list'
                and sonata_admin.field_description.associationadmin.hasRoute('delete')
                and sonata_admin.field_description.associationadmin.isGranted('DELETE')
                and btn_delete
            ) %}
            {% if display_btn_list or display_btn_add or display_btn_show %}
                <div class="btn-group">
                    {% if display_btn_show %}
                        <a  role="button" href="#"
                            class="btn btn-info btn-sm sonata-ba-action"
                            data-field-action="show-association"
                            data-field-description="{{ json_field_description }}"
                            title="{{ btn_show|trans({}, btn_catalogue) }}"
                        >
                            <i class="fa fa-eye"></i>
                            <span>{{ btn_show|trans({}, btn_catalogue) }}</span>
                        </a>
                    {% endif %}

                    {% if display_btn_list %}
                        <a  href="{{ sonata_admin.field_description.associationadmin.generateUrl(
                            'list',
                            sonata_admin.field_description.getOption('link_parameters', {})
                        ) }}"
                            class="btn btn-info btn-sm sonata-ba-action"
                            data-field-action="list-association"
                            data-field-description="{{ json_field_description }}"
                            title="{{ btn_list|trans({}, btn_catalogue) }}"
                        >
                            <i class="fa fa-list"></i>
                            <span>{{ btn_list|trans({}, btn_catalogue) }}</span>
                        </a>
                    {% endif %}

                    {% if display_btn_edit %}
                        <a  role="button" href="#"
                            class="btn btn-success btn-sm sonata-ba-action"
                            data-field-action="edit-association"
                            data-field-description="{{ json_field_description }}"
                            title="{{ btn_edit|trans({}, btn_catalogue) }}"
                        >
                            <i class="fa fa-pencil"></i>
                            <span>{{ btn_edit|trans({}, btn_catalogue) }}</span>
                        </a>
                    {% endif %}

                    {% if display_btn_add %}
                        <a  href="{{ sonata_admin.field_description.associationadmin.generateUrl(
                            'create',
                            sonata_admin.field_description.getOption('link_parameters', {})
                        ) }}"
                            class="btn btn-success btn-sm sonata-ba-action"
                            data-field-action="create-association"
                            data-field-description="{{ json_field_description }}"
                            title="{{ btn_add|trans({}, btn_catalogue) }}"
                        >
                            <i class="fa fa-plus-circle"></i>
                            <span>{{ btn_add|trans({}, btn_catalogue) }}</span>
                        </a>
                    {% endif %}
                </div>
            {% endif %}

            {% if display_btn_delete %}
                <a  role="button" href="#"
                    class="btn btn-danger btn-sm sonata-ba-action"
                    data-field-action="remove-association"
                    data-field-description="{{ json_field_description }}"
                    title="{{ btn_delete|trans({}, btn_catalogue) }}"
                >
                    <i class="fa fa-minus-circle"></i>
                    <span>{{ btn_delete|trans({}, btn_catalogue) }}</span>
                </a>
            {% endif %}
        </div>

    </div>

{% endif %}
